*.js.exe
*.js.o
echo-assert.js
terminal.js
llvm-test.js
free-test.js
set-test.js
set.js
escodegen.js
esprima.js
estraverse.js
escodegen-es6.js
esprima-es6.js
estraverse-es6.js
*.diff
*.ll
*.ejs-out
.failures
.successes
.xfail
.xsuccess
.expected-failures
