# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.s

*.exe
ejs.js
ejs.exe
ejs-es6.js.exe.stage1
ejs-es6.js.exe.stage2
ejs-es6.js.exe.stage3
pcre-*
echojs-*.tar.gz

node_modules/
