# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*~
*.s

*.exe
ejs.js
ejs.exe
ejs.exe.stage1
ejs.exe.stage2
ejs.exe.stage3
pcre-*
echojs-*.tar.gz

node_modules/
.stamp-*
