[submodule "esprima"]
	path = esprima
	url = https://github.com/ariya/esprima.git
[submodule "llvm"]
	path = llvm
	url = http://llvm.org/git/llvm.git
[submodule "escodegen"]
	path = escodegen
	url = https://github.com/Constellation/escodegen.git
