[submodule "esprima"]
	path = esprima
	url = https://github.com/toshok/esprima.git
	branch = es6
[submodule "escodegen"]
	path = escodegen
	url = https://github.com/toshok/escodegen.git
	branch = harmony
[submodule "parson"]
	path = parson
	url = https://github.com/toshok/parson.git
[submodule "estraverse"]
	path = estraverse
	url = https://github.com/toshok/estraverse.git
	branch = harmony
[submodule "pcre"]
	path = pcre
	url = https://github.com/toshok/pcre.git
[submodule "pirouette"]
	path = pirouette
	url = https://github.com/toshok/pirouette.git
